nav {
  background-color: rgba(23, 69, 209, 0.882) !important;
  padding: 10px 0;
}

nav .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
nav a {
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li {
  margin-left: 10px;

}
nav ul  a:hover {
color: rgb(164, 31, 75) !important;
}

